<html lang="en">
<head >
    {% load static %}
    <link href="{% static 'information/dashboard.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>

    <link href="{% static 'chart/Chart.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'chart/Chart.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'chart/Chart.js' %}" type="text/javascript"></script>
    <script src="{% static 'chart/Chart.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'chart/Chart.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chart/Chart.min.js.js' %}" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Data Analytics</title>

    <link rel = "icon" href ="{% static 'images/tps_icon.png' %}" type = "image/x-icon">
</head>
<body class="text-center">

<div class="pos-f-t" style="height:auto;">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Hello {{ user.first_name }} {{ user.last_name }} of {{user.tenant.unit}}</h5>
      <span class="text-muted">Welcome to your Tenant Portal</span><p>
      <span class="text-muted">For inquiries or concerns,</span>
        <a href="{% url 'complaints'%}">Click here so we can hear you out.</a></p>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
              <div class="btn-group dropleft" style="margin-left:1305px;margin-top:3px">
            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'images/bell.png' %}"  width="25" height="25" class="d-inline-block align-top" alt="">
            </button>
            <div class="dropdown-menu dropdown-menu-right" style=" overflow:auto;height:500">
              <p style="font-weight:bold;margin:10px 20px">Notifications</p><hr>
              {% for i in notif %}
              {% if i.content_type.model == bill_include %}
              <a class="dropdown-item" type="button">Billings: {{ i.object_repr }}</a>
              <h6 class="dropdown-header" style="margin-top:-10px; font-size:13px">{{ i.action_time.date }}</h6><hr>
              {% elif i.content_type.model == visit_include %}
              <a class="dropdown-item" type="button">Visitor Request: {{ i.object_repr }}</a>
              <h6 class="dropdown-header" style="margin-top:-10px; font-size:13px">{{ i.action_time.date }}</h6><hr>
              {% endif%}
              {% endfor %}
              </div>
          </div>
    <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'logout' %}">
      <img src="{% static 'images/out.png' %}"  width="25" height="25" class="d-inline-block align-top" alt="{% url 'logout' %}">
      </a>
    </li>
  </ul>
  </nav>
</div>

<div class="container-fluid" style="height:2500px">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top:0px;height:2500px">
      <div class="sidebar-sticky" style="margin-top:-30px">
        <img src="{% static 'images/tps_icon.jpg' %}"  width="190" height="91" class="d-inline-block align-top" alt="">
        <div class="list-group" >
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="home"></span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">
              <span data-feather="home"></span>
              Home
            </a>
          </li><li class="nav-item">
            <a class="nav-link" href="{% url 'billings'%}">
              <span data-feather="file"></span>
              Billings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'complaints'%}">
              <span data-feather="shopping-cart"></span>
              Complaints
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'visitors'%}">
              <span data-feather="users"></span>
              Visitor Request
            </a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'settings' %}">
              <span data-feather="shopping-cart"></span>
              Account Settings
            </a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="users"></span>
              TPS Data Analytics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              <span data-feather="bar-chart-2"></span>
              Admin Dashboard
            </a>
          </li>
          {% else %}
          {% endif %}
        </ul>
        </ul>

        </div>
      </div>
    </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="summary">
      <div class="sticky-top" style="background-color:#FFFFFF; margin-top:10px;margin-left:-5px;margin-right:-5px;z-index:1; " >
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin-top:-50px">
        <h1 class="h2">&nbspSystem Report</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#summary">Summary</a>
      </li><li class="nav-item">
        <a class="nav-link" href="#complaints">Complaints</a>
      </li>
                <li class="nav-item">
        <a class="nav-link" href="#visitors">Visitors</a>
      </li>
                <li class="nav-item">
        <a class="nav-link" href="#usersect">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#conclusion">Conclusions</a>
      </li>
    </ul>
          </div>
        </div>
      </div></div>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
          {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
      <div class="row">
      <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <p class="card-text" style="text-align:right"> Total Accounts Registered </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:auth_user_changelist'%}">Database</a>
                </div>
                  <h4 class="text-muted">{{tctr}}</h4>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <p class="card-text" style="text-align:right"> Total Invoice </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:information_billing_changelist'%}">Database</a>
                </div>
                  <h4 class="text-muted">{{bctr}}</h4>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <p class="card-text" style="text-align:right"> Total Complaints Submitted </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:information_complaint_changelist'%}">Database</a>
                </div>
                  <h4 class="text-muted">{{cctr}}</h4>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <p class="card-text" style="text-align:right"> Total Visitor Requests </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:information_visitor_changelist'%}">Database</a>
                </div><section id="complaints">
                  <h4 class="text-muted">{{vctr}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------------------------------------------------- STARTS HERE COMPLAINTS ------------------------------------------------------------>
      <div class="col-md-13" >
      <div class="card mb-3 shadow-sm">
          <div class="row">
          <div class="card-body" style="text-align:left; margin-left:30px;">
            <h5 class="card-title">Complaints Report</h5>
            <h6 class="card-subtitle mb-2 text-muted">% of Submitted Complaints</h6><hr>
              {% for c in cfloat %}
              <p class="card-text">{{ c.complain }}:</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ c.count }}%</h6>{% endfor %}
              <div class="btn-group" style="margin-top:30px">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:information_complaint_changelist'%}">Database</a>
              </div>
          </div>
              <div class="card-body" style="margin-right:30px">
          <canvas id="myChart" width="400" height="300" ></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Maintenance Problem','Staff Conflict','Neighbor/s Issue','Pest Invasion','Condition of Property','Safety Concern','Billing','Others'],
        datasets: [{
            label: '# of Complaints',
            data: [{{cmctr}},{{csctr}},{{cnctr}},{{cpctr}},{{cpctr}},{{cscctr}},{{cbctr}},{{coctr}}],
            backgroundColor: [
                'rgba(255, 0, 0, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 51, 255, 0.2)',
                'rgba(51, 255, 255, 0.2)',
                'rgba(0, 204, 0, 0.2)'
            ],
            borderColor: [
                'rgba(255, 0, 0, 0.8)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 51, 255, 1)',
                'rgba(51, 255, 255, 1)',
                'rgba(0, 204, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script><section id="visitors">
              </div>
      </div></div>
    </div>
    </section>
      <!------------------------------------------------- ENDS HERE COMPLAINTS ------------------------------------------------------------>
      <!------------------------------------------------- STARTS HERE VISITORS ------------------------------------------------------------>

      <div class="col-md-13">
      <div class="card mb-3 shadow-sm">
          <div class="row">
          <div class="card-body" style="text-align:left; margin-left:30px">
            <h5 class="card-title">Visitors Report</h5>
            <h6 class="card-subtitle mb-2 text-muted">% of Visit Purpose</h6><hr>
            {% for v in vfloat %}
              <p class="card-text">{{ v.purpose }}:</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ v.count }}%</h6>{% endfor %}
              <div class="btn-group" style="margin-top:30px">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:information_visitor_changelist'%}">Database</a>
              </div>
          </div>
              <div class="card-body" style="margin-right:30px; margin-left:60px">
          <canvas id="myChart2" width="400" height="230" ></canvas>
               <script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Vacation','One Day Visit','Overnight','Event','Pool/Gym'],
        datasets: [{
            label: '# of Visits',
            data: [{{vvctr}},{{vodctr}},{{vonctr}},{{vectr}},{{vpgctr}}],
            backgroundColor: [
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 51, 255, 0.2)',
                'rgba(51, 255, 255, 0.2)',
                'rgba(0, 204, 0, 0.2)'
            ],
            borderColor: [
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 51, 255, 1)',
                'rgba(51, 255, 255, 1)',
                'rgba(0, 204, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

               </script>
              </div>
      </div></div>
    </div>
    </section>
      <!------------------------------------------------- ENDS HERE VISITORS ------------------------------------------------------------>
      <!------------------------------------------------- STARTS HERE USERS ------------------------------------------------------------>
    <section id="usersect">
      <div class="col-md-13">
      <div class="card mb-3 shadow-sm">
          <div class="row">
          <div class="card-body" style="text-align:left; margin-left:30px">
            <h5 class="card-title">Users Activity Report</h5>
              <p> <div class="card-body" style="text-align:left;margin-left:-20px;margin-top:-25px">
  <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Registration</a>
    &nbsp<a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">Log Sessions</a>
</p><h6 class="card-subtitle mb-2 text-muted" style="font-size:12px">click buttons to display record</h6><hr>
<div class="row">
  <div class="col-md-13" style="margin-left:20px;">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
        {% for u in uctr %}
              <p class="card-text">R: {{ u.date_joined }}: &nbsp&nbsp&nbsp{{ u.created_count }}</p>
              {% endfor %}
    </div>
      <div class="collapse multi-collapse" id="multiCollapseExample2" style="margin-top:13px">
        {% for l in ulctr %}
              <p class="card-text">L: {{ l.last_login }}: &nbsp&nbsp&nbsp{{ l.log_count }}</p>
              {% endfor %}
    </div>
  </div>
</div>
          </div>
              <div class="btn-group" style="margin-top:20px">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'admin:auth_user_changelist'%}">Database</a>
              </div>
          </div>
              <div class="card-body" style="margin-right:30px; margin-left:60px">
         <canvas id="line-chart" width="800" height="450"></canvas>
               <script>

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
        labels:[{% for uc in uctr %}
                    '{{uc.date_joined}}',
                 {% endfor %}],
    datasets: [{
        data:
                 [{% for uc in uctr %}
                 '{{uc.created_count}}',
                 {% endfor %}],
        label: "Registration",
        borderColor: "#3e95cd",
        fill: false
      }, {
        data: [{% for ul in ulctr %}
                 '{{ul.log_count}}',
                 {% endfor %}],
        label: "Last Logged",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

               </script>
              </div>
      </div></div>
    </div>
    </section>
      <!------------------------------------------------- ENDS HERE USERS ------------------------------------------------------------>
      <!------------------------------------------------- STARTS HERE CONCLUSION ------------------------------------------------------------>
    <section id="conclusion">
      <div class="col-md-13">
      <div class="card mb-3 shadow-sm">
          <div class="row">
          <div class="card-body" style="text-align:left; margin-left:30px; margin-right:30px">
            <h5 class="card-title">Conclusions</h5>
            <h6 class="card-subtitle mb-2 text-muted">what conclusion can we draw based on the analytics</h6><hr>

              <div class="row">

                  <div class="col-md-4" style="text-align:center">
                   <h5 class="card-title" style="color:#008B8B;font-weight:bold">Complaints</h5>
            <h6 class="card-subtitle mb-2 text-muted">conclusion on <a href="#complaints"> complaints report</h6></a><hr>
                      <p class="card-text" style="margin-left:20px;margin-right:20px;text-align:justify">
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                          {% if cfmax.complain == 'Staff'%}
                          {{ cfmax.complain }} got the most number of complaints
                          with a percentage of {{ cfmax.c_count }}%, taking {{ cfmax2.c_count2 }}
                          out of the total {{ cctr }} complaints from the data gathered thru our feedback system.
                          We can deduce from analyzing this data that this issue requires an immediate
                          attention, starting with addressing the issue with the Staffs mentioned on the
                          <a href="{% url 'admin:information_complaint_changelist'%}">complaints.</a></p>
                          {% elif cfmax.complain == 'Neighbour' %}
                          {{ cfmax.complain }} got the most number of complaints
                          with a percentage of {{ cfmax.c_count }}%, taking {{ cfmax2.c_count2 }}
                          out of the total {{ cctr }} complaints from the data gathered thru our feedback system.
                          We can deduce from analyzing this data that this issue requires an immediate
                          attention, starting with addressing the issue with the Neighbours mentioned on the
                          <a href="{% url 'admin:information_complaint_changelist'%}">complaints.</a></p>
                          {% else %}
                          {{ cfmax.complain }} got the most number of complaints
                          with a percentage of {{ cfmax.c_count }}%, taking {{ cfmax2.c_count2 }}
                          out of the total {{ cctr }} complaints from the
                          <a href="{% url 'admin:information_visitor_changelist'%}">data gathered thru our feedback system.</a>
                          We can deduce from analyzing this data that this issue requires an immediate attention and solution.</p>
                          {% endif %}
          </div>

                  <div class="col-md-4" style="text-align:center">
                   <h5 class="card-title" style="color:#E9967A;font-weight:bold">Visitors</h5>
            <h6 class="card-subtitle mb-2 text-muted">conclusion on <a href="#visitor"> visitor report</h6></a><hr>
                      <p class="card-text" style="margin-left:20px;margin-right:20px;text-align:justify">
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                          {{ vfmax.purpose }} is the top purpose why most of our visitors come,
                          with a percentage of {{ vfmax.v_count }}%, taking {{ vfmax2.v_count2 }}
                          out of the total {{ vctr }} from our
                          <a href="{% url 'admin:information_visitor_changelist'%}"> database of visitor requests.</a>
                          We can conclude from studying this data that in {{ vfmax.purpose }},
                          there could be a possibility of a boost in our future
                          business and profit opportunities with a focus in this.</p>
          </div>

             <div class="col-md-4" style="text-align:center">
                   <h5 class="card-title" style="color:#FFD700;font-weight:bold">Users</h5>
            <h6 class="card-subtitle mb-2 text-muted">conclusion on <a href="#usersect"> accounts report</h6></a><hr>
                 <p class="card-text" style="margin-left:20px;margin-right:20px;text-align:justify">
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                          We can infer from the <a href="#usersect">mixed line graph above</a> that there was
                          a peak of Account Registration on 2020-04-18 with 3 new accounts created,
                          but the growth was not spontaneous. While in our Log Sessions, the growth
                          was steadily uphill, peaking with 3 accounts last logged in the same day 2020-04-20,
                          but the growth was not consistent. There might be a need of information dissemination
                          with regards our Tenant Portal.</p>
          </div>

              </div>
          </div>
          </div>
      </div>
      </div>
    </section>
      <!------------------------------------------------- ENDS HERE CONCLUSIONS ------------------------------------------------------------>

  </main>




  </div>
</div>
</body>
</html>

   